<style>
{background color: pink}
{text color: black}
</style
{Height: 6000px}
{Width: 200px}
{float: left}
{padding: 5px}
{line-height 30px}
<footer>
position: center
right 200px
<footer/>
<header>
position: center
<header/>
<meme image>
position: right
{set to 200px}
<meme image/>
<link rel="index" href="main.css">
